
	#name  {
	  font-size: 80px;
	  margin-bottom: 0px;
	  font-family: "Staatliches", sans-serif;
	}

	li, p, a {
	  font-family: "Raleway", sans-serif;
	  color: black;
	}

	h3 {
	  font-family: "Montserrat", sans-serif;
	}

	a:hover {
	  font-size: 20px;
	  background-color: #eee;
	  transition: 0.4s;
	}
	
	/* CSS from https://www.w3schools.com/howto/howto_js_accordion.asp, 
	   with some modifications */
	.accordion {
	  font-family: "Staatliches", sans-serif;
	  font-weight: auto; 
	  font-size: 25px;
	  cursor: pointer;
	  padding: 14px;
	  width: 100%;
	  text-align: left;
	  border: none;
	  outline: none;
	  transition: 0.4s;
	  background-color: #fff;
	}
	.subAccordionacademic, .subAccordionpersonal, .subAccordionprofessional {
	  font-family: "Montserrat", sans-serif;
	  font-weight: auto; 
	  font-size: 20px;
	  cursor: pointer;
	  padding: 14px;
	  width: 100%;
	  text-align: left;
	  border: none;
	  outline: none;
	  transition: 0.4s;
	  background-color: #fff;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, .accordion:hover {
	  background-color: #ccc;
	}

	.subAccordionacademic:hover, .subAccordionpersonal:hover, .subAccordionprofessional:hover {
	  background-color: #ddd;
	}
	/* Style the accordion panel. Note: hidden by default */
	.panel {
	  padding: 0 18px;
	  background-color: white;
	  display: none;
	  overflow: hidden;
	}
